# Example to import datasets

In [2]:
from scripts.parser import Parser
from scripts.config import *
import pandas as pd


parser = Parser()
path_to_clean_file = parser.data_clean_path
path_to_data_model = parser.data_model_path

print(path_to_clean_file)
print(path_to_data_model)

/Users/yanni-benoit-iyeze/Documents/Data For Good/batch_5_transplant/data/clean_data/
/Users/yanni-benoit-iyeze/Documents/Data For Good/batch_5_transplant/data/clean_data/model/

In [3]:
df = pd.read_csv('{}{}'.format(path_to_clean_file, 'clean_bloc_file.csv'))
df.head()

,Unnamed: 0,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,FC,...,Pmax,Pmean,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,id_patient,time
0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,381,5:11
1,2,0,0.0,0.0,0.0,0.0,0.0,0.0,99.0,0.0,...,29,12,0,0.0,0.0,0.0,0.0,455.0,381,5:13
2,3,0,0.0,0.0,0.0,0.0,0.0,0.0,99.0,107.0,...,29,12,0,0.0,99.0,0.0,0.0,460.0,381,5:14
3,4,0,0.0,0.0,0.0,0.0,0.0,0.0,99.0,116.0,...,29,12,0,0.0,97.0,0.0,0.0,456.0,381,5:15
4,5,0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,113.0,...,29,12,0,0.0,97.0,0.0,0.0,455.0,381,5:16

In [6]:
df = pd.read_csv('{}{}'.format(path_to_data_model, 'dim_patient_intraoperatoire.csv'))

df.head()

   Unnamed: 0  numero
0           0     1.0
1           1     2.0
2           2     3.0
3           3     4.0
4           4     5.0